# PyBank homework.

This notebook pertains to the PyBank directory in the python-challenge repo.


My questions for you all start with `# TUTOR:`. Here they are in summary form:

* How do I format the output of `df.describe()` to suppress scientific notation while also not changing the settings for all columns of each type?

* How do I format the output of `.sum()` as currency? And why is the code I've written to conver to currency not working? See code below for more detail.

* How do I format the final output to eliminate the Month column?

In [184]:
# Import packages.

import pandas as pd

# Import csv as dataframe.
df = pd.read_csv("Resources/budget_data.csv")
df["MoM Change"] = df["Profit/Losses"].diff()

In [185]:
df.head()

       Date  Profit/Losses  MoM Change
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [186]:
# TUTOR: How to suppress scientific notation?

df.describe()

       Profit/Losses    MoM Change
count   8.600000e+01  8.500000e+01
mean    4.463090e+05 -2.315118e+03
std     5.363579e+05  7.634372e+05
min    -1.196225e+06 -2.196167e+06
25%     1.821620e+05 -3.686650e+05
50%     5.703280e+05  7.724200e+04
75%     7.952262e+05  3.983190e+05
max     1.170593e+06  1.926159e+06

In [182]:
# TUTOR: How to format as currency? 
#df["Profit/Losses"].sum()

# This is what I've tried and it fails:
df["Profit/Losses"] = df['Profit/Losses'].astype("float").map('${:,.2f}'.format)

ValueError: could not convert string to float: '$671,099.00'

In [187]:
# TUTOR: And why does this show no output at all if the the line above fails?
# It only shows errors if I actually run the code in the preceding box.

for i, item in enumerate(df['Profit/Losses']):
   try:
      df['Profit/Losses'].astype("float").map('${:,.2f}'.format)
   except ValueError:
      print('ERROR at index {}: {!r}'.format(i, item))

In [167]:
import pandas as pd
df = pd.read_csv("Resources/budget_data.csv")

df["MoM Change"] = df["Profit/Losses"].diff()

# The greatest decrease in losses (date and amount) over the entire period

# TUTOR: How to select entire row corresponding to the min value shown using the methods below?
# Tried: df[df["Profit/Losses"].diff().min()]
# df["Profit/Losses"].diff().min()

df.loc[df["MoM Change"].idxmin()]

Date                Sep-2013
Profit/Losses       -1196225
MoM Change      -2.19617e+06
Name: 44, dtype: object

In [188]:
# Now put it all together and output the following to CSV (assuming first two rows are not to be in the output):

# Financial Analysis
#   ----------------------------
#   Total Months: 86
#   Total: $38382578
#   Average  Change: $-2315.12
#   Greatest Increase in Profits: Feb-2012 ($1926159)
#   Greatest Decrease in Profits: Sep-2013 ($-2196167)

import pandas as pd
df = pd.read_csv("Resources/budget_data.csv")

df["MoM Change"] = df["Profit/Losses"].diff()

total_months = df["Date"].nunique()
total = df["Profit/Losses"].sum()
avg_change = df["MoM Change"].mean()
inc_profits = df.loc[df["MoM Change"].idxmax()]
dec_profits = df.loc[df["MoM Change"].idxmin()]

calcs = {
    'Metric': ["Total Months:", "Total:", "Average  Change:", "Greatest Increase in Profits:", "Greatest Decrease in Profits:"],
    'Month (where applicable)': ['','','',inc_profits["Date"], dec_profits["Date"]],
    'Values': [total_months, total, avg_change, inc_profits["MoM Change"], dec_profits["MoM Change"]]
}
output = pd.DataFrame(data=calcs)
output.to_csv('pybank_output.csv', index = False, header=None)

In [189]:
print(output)

# TUTOR: How would I go about putting the month-year and value in the same column?
# I tried .concat() and it did not work.

                          Metric Month (where applicable)        Values
0                  Total Months:                           8.600000e+01
1                         Total:                           3.838258e+07
2               Average  Change:                          -2.315118e+03
3  Greatest Increase in Profits:                 Feb-2012  1.926159e+06
4  Greatest Decrease in Profits:                 Sep-2013 -2.196167e+06